[Unit]
Description=Todo Service
[Service]
Environment=REDIS_HOST=172.31.19.53
ExecStart=/bin/node /root/shell-scripting/todo/todo/server.js
SyslogIdentifier=todo
Restart=on-failure
[Install]
WantedBy=multi-user.target
