[Unit]
Description=Todo Service
[Service]
Environment=REDIS_HOST=redis.kavya.website.com
ExecStart=/bin/node /root/shellscripting-todo/todo/todo/server.js
SyslogIdentifier=todo
Restart=on-failure
[Install]
WantedBy=multi-user.target
